<!DOCTYPE html>
<head>
    <link
        href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        rel="stylesheet"
        id="bootstrap-css"
    />
    <link rel="stylesheet" href="/public/login.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <title>Login</title>
</head>
<body>
    <div id="login">
        <h3 class="text-center text-white pt-5">Welcome!</h3>
        <div class="container">
            <div
                id="login-row"
                class="row justify-content-center align-items-center"
            >
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form
                            id="login-form"
                            class="form"
                            action="/login"
                            method="post"
                        >
                            <h3 class="text-center text-info">Login</h3>
                            <% if(typeof msg !== 'undefined'){ %>
                            <div class="alert alert-danger" role="alert">
                                <%= msg %>
                            </div>
                            <% } %>

                            <div class="form-group">
                                <label for="username" class="text-info"
                                    >Username:</label
                                ><br />
                                <input
                                    type="text"
                                    name="username"
                                    class="form-control"
                                    required
                                />
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info"
                                    >Password:</label
                                ><br />
                                <input
                                    type="password"
                                    name="password"
                                    class="form-control"
                                    required
                                />
                            </div>
                            <div class="form-group text-center">
                                <input
                                    type="submit"
                                    name="submit"
                                    class="btn btn-info btn-md"
                                    value="Sign in"
                                />
                            </div>
                            <div id="register-link" class="">
                                <a href="/" class="text-info float-left"
                                    >Back</a
                                >
                                <a
                                    href="/registration"
                                    class="text-info float-right"
                                    >Register here</a
                                >
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
